/* @media not screen and (min-width: 700px) { chỉ áp dụng cho màn hình < 700px */
/* @media only screen and (min-width: 700px) { 
    h1 {
        font-size: 20px;
    }
    div {
        height: 80px;
        background-color: green;
    }
} */

/* thuộc tính thiết bị:
    - min/max width:
    - min/max height: 
    - orientation: portrait/landscape
    - aspect-ratio: 4:3; 16:9;

*/
/* break-point */
/* Extra small devices (chiều rộng < 600px) */
/* @media only screen and (max-width: 600px) {
    h1 {
        font-size: 10px;
    }
    
    div {
        height: 20px;
        background-color: red;
    }
} */

/* Small devices (600px <= chiều rộng <= 768) */
/* @media only screen and (min-width: 600px) {
    h1 {
        font-size: 20px;
    }
    
    div {
        height: 40px;
        background-color: yellow;
    }
} */

/* Medium devices (768px <= chiều rộng <= 992px) */
/* @media only screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
    
    div {
        height: 60px;
        background-color: green;
    }
} */

/* Large devices (992px <= chiều rộng <= 1200px) */
/* @media only screen and (min-width: 992px) {
    h1 {
        font-size: 50px;
    }
    
    div {
        height: 80px;
        background-color: black;
    }
} */

/* Extra large devices (chiều rộng >= 1200px) */
/* @media only screen and (min-width: 1200px) {
    h1 {
        font-size: 60px;
    }
    
    div {
        height: 100px;
        background-color: pink;
    }
} */

.flex-container {
    display: flex !important;
    flex-direction: row; /* quy định trục chính (main axis: mặc định là row-Ox)*/
    /* flex-direction: row-reverse; đảo ngược chiều lại*/
    /* flex-direction: column; quy định trục chính (main axis) Oy)*/
    /* flex-direction: column-reverse; đảo ngược chiều lại*/
    flex-wrap: wrap; /* tự động đẩy phần tử cuối xuống dòng nếu không đủ width để hiển thị cả row */
    /* flex-wrap: nowrap; giá trị mặc định*/
    /* flex-wrap: wrap-reverse;  tự động đẩy phần tử cuối lên dòng trên nếu không đủ width để hiển thị cả row */
    justify-content: space-evenly; /* các flex-item được căn vào giữa */
    /* justify-content: end; các flex-item được căn sang cuối trục main axis */
    /* justify-content: start; các flex-item được căn sang đầu trục main axis */
    /* justify-content: space-around; các flex-item được căn sang đầu trục main axis, có cách lề trái phải */
    /* justify-content: space-between; các flex-item được dàn đều theo trục main axis, ko cách lề trái phải */
    /* justify-content: space-evenly; tương tự space-around nhưng cách lề dài hơn */
}